<div class="container">
<h2><%= @restaurant.name %></h2>
<%= @restaurant.category %>
<br>
<%= @restaurant.address %>
<br>
<%= @restaurant.phone_number %>
<br>
<%= link_to 'Back to list', restaurants_path %>
</div>
